/Chat de AI + API Alegra/reports-ai-chat/.env
/Chat de AI + API Alegra/backend/.env
/Chat de AI + API Alegra/backend/node_modules
/Chat de AI + API Alegra/reports-ai-chat/node_modules
/asistente de voz/voiceAssistant/node_modules
/asistente de voz/voiceAssistant/.env
/ocr-whatsapp/node_modules
/ocr-whatsapp/.env
